.woocommerce {
  a {
    text-decoration: underline;
    color: orangered;
  }

  form .form-row {
    padding: 3px 0;
  }

  table.shop_table {
    border-radius: 0;
  }

  .input-text {
    font-size: 1.125rem !important;

    border: 1px solid rgba(0, 0, 0, 0.08) !important;
    border-radius: 4px !important;

    padding: 10px 15px !important;

    background-color: rgba(0, 0, 0, 0.08) !important;
  }

  button.button {
    background-color: var(--color-black) !important;
    color: var(--color-white) !important;

    font-weight: 500 !important;
    text-transform: capitalize;

    min-height: 44px;
  }

  .coupon {
    #coupon_code {
      min-width: 180px;
      margin-right: 10px;
    }

    @media (max-width: 800px) {
      #coupon_code {
        min-width: 100%;
        margin-bottom: 10px;
      }

      button {
        min-width: 100%;
      }
    }
  }
}

.woocommerce-message,
.woocommerce-info,
.woocommerce-error {
  background-color: var(--color-black);
  color: var(--color-white);

  border-top: none;
  border-left: 4px solid olivedrab;
}

.woocommerce-message a.button {
  color: var(--color-white);
}

.woocommerce-error {
  border-left: 4px solid orangered;
}

.woocommerce-message::before,
.woocommerce-info::before,
.woocommerce-error::before {
  color: var(--color-white);
}

// Cart Page

.woocommerce-cart {
  a.button.alt {
    text-transform: capitalize;
    font-weight: 500;

    background-color: #0066bb;

    &:hover {
      background-color: #1188ee;
    }
  }

  .cart_totals h2 {
    margin-bottom: 10px;

    font-size: 1.125rem;
    text-transform: uppercase;
  }
}

// Checkout Page
.woocommerce-checkout {
  .checkout_coupon {
    @media (max-width: 800px) {
      .form-row {
        width: 100%;
      }
    }
  }

  .checkout {
    h3 {
      font-size: 1rem;
      font-weight: 400;
      text-transform: uppercase;

      border-radius: 4px;
      margin-bottom: 10px;
      padding: 15px;

      background-color: #111;
      color: var(--color-white);
    }

    @media (max-width: 800px) {
      #ship-to-different-address,
      #order_review_heading {
        margin-top: 30px;
      }
    }

    #ship-to-different-address {
      float: none !important;
    }

    #payment,
    #payment div.payment_box {
      background-color: rgba(0, 0, 0, 0.08);
      color: var(--color-black);

      font-size: 1rem;
    }

    #payment #place_order {
      float: none;

      margin-top: 20px;
      padding: 15px 30px;

      font-size: 1.25rem;

      background-color: #0066bb !important;

      &:hover {
        background-color: #1188ee !important;
      }
    }
  }
}

// My Account Page
.woocommerce form.checkout_coupon,
.woocommerce form.login,
.woocommerce form.register {
  border: none;
  padding: 0px;
  margin: 10px 0;

  max-width: 600px;
}

// Pagseguro
.woocommerce #pagseguro-payment-form {
  border: none;
}

.woocommerce #payment div.payment_box ::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}
